:root {
    --color-primary: #eee8d7;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* 防止滚动 */
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    /* background-color: black; */
}

.shape-round {
    --height-percentage: 10;
    position: absolute;
    width: 100%;
    padding-top: calc(var(--height-percentage) * 1%);
    pointer-events: none;
    overflow: hidden;
}

.shape-round.bottom {
    transform-origin: bottom;
    bottom: -1px;
 }
 
 .shape-round.bottom::after {
    top: 0;
 }
 
 .shape-round.top {
    transform-origin: top;
    top: -1px;
 }
 
 .shape-round.top::after {
    bottom: 0;
 }

.shape-round::after {
    pointer-events: all;
    --width-round: 266vw;
    content: "";
    width: var(--width-round);
    height: var(--width-round);
    display: block;
    background-color: var(--color-light);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 50%;
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 500;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .loading-container .transition-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
 }
 
 .loading-container.loaded .transition-screen {
    background: var(--color-primary);
 }
 
 .loading-container .transition-words {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    overflow: hidden;
    width: 100%;
 }
 
 .loading-container .transition-words .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    opacity: 0;
 }
 
 .loading-container .transition-words .wrap > * {
    position: relative;
    white-space: nowrap;
    line-height: 1;
    padding: 0.1em 0;
    text-align: center;
 }
 
 .loading-container .transition-screen .shape-round.bottom {
    bottom: calc(100% - 1px);
    pointer-events: none;
    transform: scaleY(0);
 }
 
 .loading-container .transition-screen .shape-round.top {
    top: calc(100% - 1px);
    pointer-events: none;
    transform: scaleY(0);
 }
 
 
 .loading-container .transition-screen .shape-round::after {
    background-color: var(--color-primary);
 }