* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: rgb(206, 8, 8);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #eee8d7; /* 设置整个页面背景颜色 */
    cursor: none; /* 隐藏原始鼠标光标 */
    overflow: hidden; /* 隐藏滚动条 */
    min-height: calc(var(--vh, 1vh) * 100);
}

.container {
    display: flex;
    min-height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}

.cursor {
    width: 12px; /* 设定圆形直径 */
    height: 12px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none; /* 确保不阻止其他元素的点击 */
    background-color: rgba(0, 0, 0, 0.7); /* 初始颜色 */
    transition: background-color 0.2s; /* 平滑变色 */
}

a {
    cursor: none;
}

a:hover {
    cursor: none;
}

.shape-round {
    --height-percentage: 10;
    position: absolute;
    width: 100%;
    padding-top: calc(var(--height-percentage) * 1%);
    pointer-events: none;
    overflow: hidden;
}

.shape-round.bottom {
    transform-origin: bottom;
    bottom: -1px;
 }
 
 .shape-round.bottom::after {
    top: 0;
 }
 
 .shape-round.top {
    transform-origin: top;
    top: -1px;
 }
 
 .shape-round.top::after {
    bottom: 0;
 }

.shape-round::after {
    pointer-events: all;
    --width-round: 266vw;
    content: "";
    width: var(--width-round);
    height: var(--width-round);
    display: block;
    background-color: var(--color-light);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 50%;
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 500;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .loading-container .transition-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
 }
 
 .loading-container.loaded .transition-screen {
    background: var(--color-primary);
 }
 
 .loading-container .transition-words {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    overflow: hidden;
    width: 100%;
 }
 
 .loading-container .transition-words .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    opacity: 0;
 }
 
 .loading-container .transition-words .wrap > * {
    position: relative;
    white-space: nowrap;
    line-height: 1;
    padding: 0.1em 0;
    text-align: center;
 }
 
 .loading-container .transition-screen .shape-round.bottom {
    bottom: calc(100% - 1px);
    pointer-events: none;
    transform: scaleY(0);
 }
 
 .loading-container .transition-screen .shape-round.top {
    top: calc(100% - 1px);
    pointer-events: none;
    transform: scaleY(0);
 }
 
 
 .loading-container .transition-screen .shape-round::after {
    background-color: var(--color-primary);
 }

/* 左侧栏样式 */
.left-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    position: fixed;
    height: 100vh;
}

.left-column .tit a{
    font-size: 1.8em;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    flex-wrap: wrap
}

.left-column .header a{
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0px;
    text-decoration: none;
    color: #333;
}

.left-column .footer {
    font-size: 1.5em; /* 设置大字体 */
    font-weight: 400; /* 字体加粗 */
    color: #333; /* 字体颜色 */
    text-transform: uppercase; /* 大写字母 */
    letter-spacing: 2px; /* 字符间距 */
    text-align: left; /* 文本左对齐 */
    margin-top: auto; /* 推到左下角 */
    line-height: 1.2; /* 行间距 */
}

.left-column .links {
    display: flex;
    gap: 20px;
    font-size: 0.6em; /* Increase font size for better visibility */
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px; /* Add spacing between letters */
    line-height: 1.5
}
.left-column .links a {
    color: #333; /* White text color */
    text-decoration: none; /* Remove default underline */
    border-bottom: 1px solid #333; /* Add underline with padding */
    padding-bottom: 2px; /* Padding below the text */
}
.left-column .links a:hover {
    color: #555;
    border-bottom-color: #555;
    border-bottom: none; /* 移除下划线 */
}

.left-column .footer .right-align {
    align-self: flex-end; /* 自身右对齐 */
    width: 50%; /* 占满父元素宽度 */
    text-align: right; /* 文字右对齐 */
}

.left-column .footer .left-align {
    align-self: flex-start; /* 自身左对齐 */
    width: 100%; /* 占满父元素宽度 */
    text-align: left; /* 文字左对齐 */
}

/* 右侧栏样式 */
.right-column {
    margin-left: 20%;
    width: 80%;
    padding: 50px; /* 增加内边距 */
    overflow-y: scroll;
    height: 100vh;
}
.right-column .cv-content {
    padding: 0px;
}

.right-column h3 {
    margin-bottom: 5px;
    padding-bottom: 5px; /* 增加内边距，使底部边框和文本有间距 */
    border-bottom: 2px solid #333; /* 设置底部边框样式、粗细和颜色 */
    font-size: 2em; /* 标题字体大小 */
    color: #333;
}

.right-column p {
    margin-bottom: 5px;
    line-height: 1.5;
    color: #555;
}

.fade-row {
    opacity: 0; /* 默认透明 */
    transition: opacity 1s ease-in-out; /* 渐变效果 */
}

.fade-in {
    opacity: 1;
}

 .left-col{
    width: 15%; /* 左侧列占30%的宽度 */
    text-align: right; /* 内容靠右对齐 */
    color: #555; /* 字体颜色为灰色 */
    font-size: 1em; /* 字体大小 */
    margin-right: 15px; /* 向左移动，使其位于分割线之外 */
}

.cv-content .right-col{
    width: 80%; /* 左侧列占30%的宽度 */
    margin-left: 0px; /* 向左移动，使其位于分割线之外 */
}

.cv-content a {
    color: #007acc; /* 链接颜色 */
    text-decoration: none; /* 移除下划线 */
    word-break: break-all;
}

.cv-content a:hover {
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
}

.cv-content .row{
    display: flex; /* 使用Flexbox创建左右两列 */
    margin-bottom: 5px; /* 每行之间的间距 */
    flex-wrap: wrap; /* 当内容过长时自动换行 */
}

.cv-content .row2{
    display: flex; /* 使用Flexbox创建左右两列 */
    margin-bottom: 5px; /* 每行之间的间距 */
    flex-wrap: wrap; /* 当内容过长时自动换行 */
}
.cv-content .row3{
    display: flex; /* 使用Flexbox创建左右两列 */
    margin-bottom: 5px; /* 每行之间的间距 */
    flex-wrap: wrap; /* 当内容过长时自动换行 */
}

/* 手机端（小于768px屏幕宽度）的自定义样式 */
@media only screen and (max-width: 840px) {
    /* 针对手机的样式设置 */
    .left-column {
        width: 0%;
        display: none;
    }
    
    .right-column {
        margin-left: 0%;
        width: 100%;
        padding: 50px; /* 增加内边距 */
        overflow-y: scroll;
        height: 100vh;
    }

    .cv-content .left-col{
        width: 100%; /* 左侧列占30%的宽度 */
        text-align: left; /* 内容靠右对齐 */
        color: #555; /* 字体颜色为灰色 */
        font-size: 1em; /* 字体大小 */
        margin-right: 15px; /* 向左移动，使其位于分割线之外 */
    }
    
    .cv-content .right-col{
        width: 100%; /* 左侧列占30%的宽度 */
        margin-left: 0px; /* 向左移动，使其位于分割线之外 */
    }
}